In [1]:
import env
import os
import seaborn as sns
import acquire
import prepare
import pandas as pd
from sklearn.model_selection import train_test_split

# In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data.

# Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris = sns.load_dataset("iris")

print the first 3 rows

In [ ]:
df_iris.head(3)

print the number of rows and columns (shape)

In [ ]:
df_iris.shape

print the column names

In [ ]:
df_iris.columns

print the data type of each column

In [ ]:
df_iris.info()

print the summary statistics for each of the numeric variables.

In [ ]:
df_iris.describe()

Would you recommend rescaling the data based on these statistics?

It does not appear rescaling is necessary

# Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel

In [ ]:
df_excel = pd.read_excel('Excel_Exercises.xlsx')

assign the first 100 rows to a new dataframe, df_excel_sample

In [ ]:
df_excel_sample = df_excel.head(100)

print the number of rows of your original dataframe

In [ ]:
print('df_excel has',len(df_excel),'rows')

print the first 5 column names

In [ ]:
print(df_excel.columns[0:5].to_list())

print the column names that have a data type of object

In [ ]:
df_excel.select_dtypes(include='object').columns.to_list()

compute the range for each of the numeric variables.

In [ ]:
# create series with only the columns containing numbers, and their minimum/maximum values
mins = df_excel.select_dtypes(include='float64').min()
maxes = df_excel.select_dtypes(include='float64').max()

ranges = pd.concat([mins, maxes], axis=1)
ranges.columns =['min_value', 'max_value']
ranges.insert(2, "Range", ranges.max_value - ranges.min_value , True)
ranges

# Read the data from this google sheet into a dataframe, df_google

print the first three rows

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_import_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_import_url)
df_google.head(3)

Print the number of rows and columns

In [ ]:
df_google.shape

Print the column names

In [ ]:
df_google.columns

Print the datatype of each column

In [ ]:
df_google.info()

print the summary statistics for each of the numeric variables

In [ ]:
df_excel.select_dtypes(include=['int64', 'float64']).describe()

Print the unique values for each of your categorical variables

In [ ]:
df_google.nunique()

In [ ]:
print("Unique values from 'Survived':",df_google['Survived'].unique())
print("Unique values from 'Pclass':",df_google['Pclass'].unique())
print("Unique values from 'Sex':",df_google['Sex'].unique())
print("Unique values from 'Embarked':",df_google['Embarked'].unique())

In [ ]:
# testing data acquisition functions from acquire.py file I created
acquire.get_titanic_data()

In [ ]:
acquire.get_iris_data()

In [ ]:
acquire.get_telco_data()

The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

Drop the species_id and measurement_id columns.

Rename the species_name column to just species.

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
# load the iris data using our function in the acquire file
iris_df = acquire.get_iris_data()

In [ ]:
# verify that it loaded and show the first few lines of data
iris_df.head()

In [ ]:
# Drop the species_id and measurement_id columns
iris_df = iris_df.drop(columns=['species_id','measurement_id'])
iris_df.head()

In [ ]:
# rename the species_name column to species

iris_df.rename(columns = {'species_name':'species'}, inplace = True)
iris_df.head()

In [ ]:
iris_df.species.value_counts()

In [ ]:
# Create dummy variables of the species name    
dummy_df = pd.get_dummies(iris_df['species'], dummy_na=False, drop_first=False)

# concatenate onto the iris dataframe.
iris_df = pd.concat([iris_df, dummy_df], axis=1)
iris_df.head(1)

In [ ]:
# Create a function named prep_iris that accepts the untransformed iris data, 
# and returns the data with the transformations above applied.

def prep_iris(df):
    # Drop the species_id and measurement_id columns
    df = df.drop(columns=['species_id','measurement_id'])
    
    # rename the species_name column to species
    df.rename(columns = {'species_name':'species'}, inplace = True)
    
    # Create dummy variables of the species name    
    dummy_df = pd.get_dummies(df['species'], dummy_na=False, drop_first=False)

    # concatenate onto the iris dataframe.
    df = pd.concat([df, dummy_df], axis=1)
    
    # return the converted iris dataframe
    return df

Using the Titanic dataset

Use the function defined in acquire.py to load the Titanic data.

Drop any unnecessary, unhelpful, or duplicated columns.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
df = acquire.get_titanic_data()

In [ ]:
df.head()

In [ ]:
# Drop unnecessary columns (pclass)
df = df.drop(columns=['pclass'])
df.head()

In [ ]:
# Create dummy variables of the categorical columns   
dummy_df = pd.get_dummies(df[['sex','class','embark_town']], dummy_na=False, drop_first=False)

# concatenate onto the titanic dataframe.
df = pd.concat([df, dummy_df], axis=1)
df.head()

Use the function defined in acquire.py to load the Telco data.

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
df = acquire.get_telco_data()
df.columns

In [ ]:
# Drop any unnecessary, unhelpful, or duplicated columns. 
df = df.drop(columns=['contract_type_id','internet_service_type_id', 'payment_type_id', 'contract_type_id.1',
                      'payment_type_id.1', 'monthly_charges.1','total_charges.1','paperless_billing.1',])

In [ ]:
# Encode the categorical columns. 
# Create dummy variables of the categorical columns and concatenate them onto the dataframe.

# Create dummy variables of the categorical columns  
dummy_df = pd.get_dummies(df[['gender','contract_type','internet_service_type']], dummy_na=False, drop_first=False)

# concatenate onto the telco dataframe.
df = pd.concat([df, dummy_df], axis=1)
df.head()

In [ ]:
# testing functions in prepare.py

In [ ]:
i_df = acquire.get_iris_data()
i_df = prepare.prep_iris(i_df)
i_df.head()

In [ ]:
i_df.to_csv('iris.csv', index=False)

In [ ]:
t_df = acquire.get_titanic_data()
t_df = prepare.prep_titanic(t_df)
t_df.head()

In [ ]:
t_df.to_csv('titanic.csv', index=False)

In [ ]:
tel_df = acquire.get_telco_data()
tel_df = prepare.prep_telco(tel_df)
tel_df.head()

In [ ]:
# created split functions to split telco, iris, and titanic into train, validate, and test data splits

In [5]:
# acquire iris data
i_df = acquire.get_iris_data()

In [7]:
# call split function on iris dataframe
target = 'species'
train_iris, validate_iris, test_iris = prepare.my_split(i_df, target)

In [8]:
# validate shapes of data_sets look correct
train_iris.shape,test_iris.shape,validate_iris.shape

((90, 8), (30, 8), (30, 8))

In [9]:
# acquire telco data
tel_df = acquire.get_telco_data()

In [10]:
# call split function
target = 'churn'
train_telco, validate_telco, test_telco = prepare.my_split(tel_df, target)

In [11]:
# validate shapes of data_sets look correct
train_telco.shape, validate_telco.shape, test_telco.shape

((4225, 28), (1409, 28), (1409, 28))

In [12]:
# get titanic data
tit_df = acquire.get_titanic_data()

In [13]:
# call split function
target = 'survived'
train_titanic, validate_titanic, test_titanic = prepare.my_split(tit_df, target)

In [14]:
# validate shapes of data_sets look correct
train_titanic.shape, validate_titanic.shape, test_titanic.shape

((534, 20), (178, 20), (179, 20))